<div class="signin" ng-controller="ResetpasswordController">

  <section>

    <div class="signinpanel">

      <div class="row">

        <div class="col-md-7">

          <div class="signin-info">
            <div class="logopanel">
              <h1>
                <span>[</span>Conference
                <span>]</span>
              </h1>
            </div>
            <!-- logopanel -->

            <div class="mb20"></div>

            <h5>
              <strong>Welcome to Conference Admin Panel!</strong>
            </h5>
            <ul>
              <li><i class="fa fa-arrow-circle-o-right mr5"></i>Event Management</li>
              <li><i class="fa fa-arrow-circle-o-right mr5"></i>Aggenda Management</li>
              <li><i class="fa fa-arrow-circle-o-right mr5"></i>Manage Speakers</li>
              <li><i class="fa fa-arrow-circle-o-right mr5"></i>Chat</li>
              <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
            </ul>
            <div class="mb20"></div>
          </div>
          <!-- signin0-info -->

        </div>
        <!-- col-sm-7 -->

        <div class="col-md-5">

          <form id="resetPassword">
            <h4 class="nomargin">Reset Password</h4>
            <!-- <p class="mt5 mb20">Reset your password</p> -->
            <div ng-hide="!showErrors" id="error_section" class="alert-error center-align">
              <label ng-repeat="error in errors" class="error ">{{error}}</label>
            </div>

            <div ng-show="success" id="success_section" class="alert-info center-align">
              <label ng-show="success" class="">{{success}}</label>
            </div>

            <input name="newPassword" type="password" class="form-control pword" ng-model="chagePassword.newPassword" placeholder="New Password" />
            <input name="confirmPassword" type="password" class="form-control pword" ng-model="chagePassword.confirmPassword" placeholder="Confirm Password" />
            <a class="cursor-pointer" ng-click="showForgotPassward()">
              <br />
              <small>Forgot Your Password?</small>
            </a>
            <button class="btn btn-success btn-block" ng-click="resetPassword()">Reset</button>

          </form>
        </div>
        <!-- col-sm-5 -->

      </div>
      <!-- row -->

      <div class="signup-footer">
        <div class="pull-left">
          &copy; 2014. All Rights Reserved. Innofied Solution Pvt. Ltd.
        </div>
        <div class="pull-right">
          Created By: <a href="http://www.innofied.com/" target="_blank">Innofied</a>
        </div>
      </div>

    </div>
    <!-- signin -->

  </section>
</div>
