<div ng-controller="SingleEmp">

  <div class="pageheader">

    <h2><i class="fa fa-user"></i> Employee Profile</h2>

  </div>

  <!-- Pageheader end -->

  <div>
    <div class="contentpanel">
      <div class="row">
        <div class="col-sm-3" ng-if="profile.viewPersonalProfile">
          <div class="relative">
            <img ng-src="{{userDetails.personalProfile.photoUrl | url}}" class="thumbnail img-responsive adjust-width no-margin" alt="" onerror="this.onerror=null;this.src='./resources/images/user.png';">
          </div>
          <div class="mb30"></div>

        </div>
        <!-- Left Side End -->
        <div class="col-sm-9">
          <div class="clearfix">
            <div class="profile-header pull-left">
              <h2 class="profile-name">{{userDetails.companyProfile.name | name}}</h2>
              <div class="profile-location" ng-if="profile.viewPersonalProfile">
                <i class="fa fa-map-marker"></i> {{getCurrentLocation() | fullAddress}}</span>
              </div>
              <div class="profile-position" ng-if="profile.viewCompanyProfile"><i class="fa fa-briefcase"></i> {{userDetails.companyProfile.designation.post}} at
                <strong>{{userDetails.companyProfile.company.name}}</strong>
              </div>
            </div>
            <div class="pull-right" ng-if="profile.edit" ng-click="loadEditView()">
              <a class="btn btn-primary">
                <i class="fa fa-edit edit-event"></i>Edit
              </a>
            </div>
          </div>
          <div>
            <form id="EmployeeDetails" class="form-horizontal normal-form panel-form">
              <div class="form-group" ng-if="profile.viewPersonalProfile">
                <label class="col-sm-3 control-label">
                  Permanent Address
                </label>
                <div class="col-sm-6">
                  <label class="control-label text-left normal-font-weight">{{userDetails.personalProfile.permanentAddress | fullAddress}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  DOB
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.DOB | date:'MMM d, y'}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  Contact Details
                </label>
                <div class="col-sm-6" ng-if="profile.viewPersonalProfile">
                  <label class="col-sm-3 control-label">
                    Phone No.
                  </label>
                  <div class="col-sm-8 clearfix" ng-if="profile.viewPersonalProfile">
                    <label class="control-label col-sm-8 normal-font-weight" ng-repeat="number in userDetails.personalProfile.contactNumbers">
                      {{number}}
                    </label>
                    <br>
                  </div>
                  <br />
                  <label class="col-sm-3 control-label" ng-if="profile.viewCompanyProfile">
                    Email
                  </label>
                  <div class="col-sm-8" ng-if="profile.viewCompanyProfile">
                    <label class="control-label normal-font-weight">
                      {{userDetails.companyProfile.email}}
                    </label>
                    <br>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  Gender
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.gender | gender}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  DOJ
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.DOJ | date:'MMM d, y'}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  Manager
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.manager.companyProfile.name | name}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  Employee Id
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.empId}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  Machine Id
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.attendanceId}}</label>
                </div>
              </div>
              <div class="form-group" ng-if="profile.viewCompanyProfile">
                <label class="col-sm-3 control-label">
                  PAN
                </label>
                <div class="col-sm-6">
                  <label class="control-label normal-font-weight">{{userDetails.companyProfile.panId}}</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
