<div class="pageheader clearfix">
  <h2 class="pull-left"><i class="fa fa-list"></i> Employee List</h2>

  <div class="pull-right filter-group">
    <form class="form-inline">
      <div class="form-button-group-spcl">
        <button class="btn btn-success" ng-show="addUser" ng-click="addEmployee()"><i class="fa fa-plus"></i>Add Employee</button>
        <input class="form-control" ng-show="viewUser" ng-keyup="filterData(searchString)" ng-model="searchString" type="text" placeholder="Search">
      </div>

      <div id="filter_dropdown" ng-show="viewUser" class="dropdown">
        <button name="dropdownButton" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">{{selectedOption.text}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right-align" role="menu">
          <li ng-repeat="option in filterOptions | orderBy:'option'">
            <a ng-click="chooseAnOption($index)">{{option.text}} </a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>

<div class="contentpanel">
  <!-- Old Pagination-->
  <div ng-click="watchPagination(currentPage)" ng-if="pagination.totalItems > pagination.itemsPerPage" class="pagination-group-top clearfix">

    <pagination total-items="pagination.totalItems" ng-model="currentPage" max-size="pagination.maxSize" class="pagination-sm pull-right" items-per-page="pagination.itemsPerPage" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <div class="table-responsive">
        <table class="table table-hover mb30">
          <thead class="attender-list-padding">
            <tr>
              <th>#</th>
              <!-- <th>id</th> -->
              <th>Name</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Gender</th>
              <th>Manager</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="attender-list-padding">
            <tr ng-repeat="eachAttender in attendiesList">
              <td>{{$index + 1}}</td>
              <!-- <td>{{eachAttender._id}}</td> -->
              <td>{{eachAttender.companyProfile.name | name }}</td>
              <td>{{eachAttender.companyProfile.email}}</td>
              <td>{{eachAttender.companyProfile.designation.post}}</td>
              <td>{{eachAttender.companyProfile.gender | gender}}</td>
              <td>
                <div ng-show="eachAttender.companyProfile.manager._id" class="cursor-pointer" ng-click="loadAttendiesView(eachAttender.companyProfile.manager._id)">
                  <img ng-src="{{eachAttender.companyProfile.manager.personalProfile.photoUrl | url}}" alt="" ng-show="eachAttender.companyProfile.manager.photoUrl" onerror="this.onerror=null;this.src='./images/user.png';" class="small-profile-picture">
                  <span class="manager-details">{{eachAttender.companyProfile.manager.companyProfile.name | name}}</span>
                </div>
              </td>
              <td class="action-td">
                <a class="btn btn-info cursor-pointer" ng-if="addUser" ng-click="loadEmployeeView(eachAttender._id)">
                  <i class="fa fa-eye icon"></i>View
                </a>
                <a class="btn btn-primary cursor-pointer" ng-if="editUser" ng-click="loadEmployeeEditView(eachAttender._id)">
                  <i class="fa fa-edit icon"></i>Edit
                </a>
                <a class="btn btn-success cursor-pointer block-unblock-button" ng-show="blockUser && eachAttender.companyProfile.isActive" ng-click="userBlock(eachAttender._id, $index)">
                  <i class="fa fa-warning icon"></i>Block
                </a>
                <a class="btn btn-danger cursor-pointer block-unblock-button" ng-show="blockUser && !eachAttender.companyProfile.isActive" ng-click="userUnblock(eachAttender._id, $index)">
                  <i class="fa fa-warning icon"></i>Unblock
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Old Pagination-->
  <!-- <div ng-show="pagination.totalItems > pagination.itemsPerPage" class="pagination-group-bottom clearfix">
        
          <pagination total-items="pagination.totalItems" ng-model="currentPage" max-size="pagination.maxSize" class="pagination-sm pull-right" items-per-page="pagination.itemsPerPage" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        
        </div> -->

</div>
