<div ng-controller="LeaveRequests">

  <div class="pageheader clearfix">
    <h2 class="pull-left"><i class="fa fa-list"></i> Leave Requests</h2>
  </div>

  <div class="contentpanel">
    <div class="col-md-12">

      <div ng-show="showErrors">
        <label ng-repeat="error in errors" class="error">{{error}}</label>
      </div>

      <div class="table-responsive">
        <table class="table table-hidaction table-stripped mb30">
          <thead>
            <tr>
              <th>#</th>
              <th>Employee</th>
              <th>From</th>
              <th>To</th>
              <th>Total</th>
              <th>Type</th>
              <th>Status</th>
              <th ng-if="manageOthersLeave()">Action</th>
              <!-- ng-if="manageOthersLeave()" -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="request in allRequests">
              <td>{{$index+1}}</td>
              <td>
                <img ng-src="{{request.applicant.personalProfile.photoUrl | url}}" onerror="this.onerror=null;this.src='./resources/images/user.png';" class="profile">
                <span>{{request.applicant.companyProfile.name | name}}</span>
              </td>
              <td>{{request.durationOfLeave.from | date:'MMMM d, y'}}</td>
              <td>{{request.durationOfLeave.to | date:'MMMM d, y'}}</td>
              <td>{{request.durationOfLeave | totalCount}}</td>
              <td>{{request.typeOfLeave | typeOfLeave}}</td>
              <td>{{request.statusCode | statusCode}}</td>
              <td ng-if="manageOthersLeave()">
                <!-- ng-if="manageOthersLeave()" -->

                <a class="btn btn-primary cursor-pointer" ng-click="acceptApplication(request._id,  $index)">
                  <i class="fa fa-check icon"></i>Accept
                </a>
                <a class="btn btn-danger cursor-pointer" ng-click="rejectApplication(request._id,  $index)">
                  <i class="fa fa-times icon"></i>Reject
                </a>
                <a class="btn btn-default cursor-pointer" ng-click="loadApplicationView(request, $index)">
                  <i class="fa fa-eye icon"></i>View
                </a>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
