<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>

<head>
  <title>Conference</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="../css/app.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- Attendance Details For User-->
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hidaction table-hover mb30">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>In</th>
            <th>Out</th>
            <th>workDuration</th>
            <th>overTime</th>
            <th>totalDuration</th>
            <th>status</th>
            <th>remarks</th>
            <th>modifiedBy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Attendance Details For User END -->

  <!-- Attendance Details For Admin-->
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hidaction table-hover mb30">
        <thead>
          <tr>
            <th>#</th>
            <th>Employee</th>
            <th>Date</th>
            <th>In</th>
            <th>Out</th>
            <th>workDuration</th>
            <th>overTime</th>
            <th>totalDuration</th>
            <th>status</th>
            <th>remarks</th>
            <th>modifiedBy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
            <td>25 Aug 2014</td>
            <td>10.30</td>
            <td>8.30</td>
            <td>9hrs</td>
            <td>1hrs</td>
            <td>10hrs</td>
            <td>P</td>
            <td>out punch</td>
            <td>
              <img src="../images/user.png" class="profile">
              <span>Abhisek Kundu</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Attendance Details For Admin END -->

  <script src="../../libs/jquery.js"></script>
  <script src="../../libs/bootstrap.min.js"></script>

</body>

</html>
