<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../css/app.css">
</head>

<body>
  <div class="contentpanel">
    <div class="row">
      <div class="col-sm-3">
        <img src="http://192.168.2.34/html/other/bootstrap-theme/bracket/images/photos/profile-1.png" class="thumbnail img-responsive" alt="" />

        <div class="mb30"></div>

        <h5 class="subtitle">About</h5>
        <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat... <a href="#">Show More</a>
        </p>

        <h5 class="subtitle">Connect</h5>
        <ul class="profile-social-list">
          <li><i class="fa fa-twitter"></i>  <a href="#">twitter.com/eileensideways</a>
          </li>
          <li><i class="fa fa-facebook"></i>  <a href="#">facebook.com/eileen</a>
          </li>
          <li><i class="fa fa-linkedin"></i>  <a href="#">linkedin.com/4ever-eileen</a>
          </li>
          <li><i class="fa fa-google-plus"></i>  <a href="#">plus.google.com/u/0/+AbhisekKundunodejs/</a>
          </li>
        </ul>

        <div class="mb30"></div>

        <h5 class="subtitle">Address</h5>
        <address>
          795 Folsom Ave, Suite 600
          <br/>San Francisco, CA 94107
          <br/>
          <abbr title="Phone">P:</abbr>(123) 456-7890
        </address>
      </div>
      <!-- col-sm-3 -->
      <div class="col-sm-9">

        <div class="profile-header">
          <h2 class="profile-name">Eileen Sideways</h2>
          <div class="profile-location"><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
          <div class="profile-position"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
          </div>
          <div class="mb20"></div>
        </div>
        <ul class="nav nav-tabs nav-profile">
          <li class="active">
            <a href="#agendas" data-toggle="tab">
              <strong>Agendas
                <span class="badge ">6</span>
              </strong>
            </a>
          </li>
          <li>
            <a href="#followers" data-toggle="tab">
              <strong>Followers
                <span class="badge ">6</span>
              </strong>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="agendas">
            <div class="activity-list agendas">
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-item blog-quote">
                  <div class="quote quote-danger">
                    <a href="#">A Safe Approach to Social Selling Using Carrots, Sticks and Wisdom to get your team on the same page</a>
                  </div>
                  <div class="blog-details">
                    <ul class="blog-meta text-center">
                      <li class="col-xs-4 col-sm-4 col-md-4"> <i class="fa fa-clock-o"></i>
                        <span>
                          20:42:18</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> 
                        <span>
                          Wed Aug 20 2014</span>
                      </li>
                      <li class="col-xs-4 col-sm-4 col-md-4 ">
                        <i class="fa fa-map-marker"></i>
                        <span>TBD</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 margn-zero text-center">

                <ul class="pagination">
                  <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="active"><a href="#">1</a>
                  </li>
                  <li class=""><a href="#">2</a>
                  </li>
                  <li><a href="#">3</a>
                  </li>
                  <li><a href="#">4</a>
                  </li>
                  <li><a href="#">5</a>
                  </li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </div>
              <button class="btn btn-white btn-block">Show More</button>
            </div>
          </div>
          <div class="tab-pane" id="followers">
            <div class="activity-list follower-list">
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="people-item people-item-border">
                  <div class="media">
                    <a href="#" class="pull-left">
                      <img alt="" src="../images/userprofile.png" class="thumbnail media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="person-name">Ray Sin</h4>
                      <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                      <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="#">SomeCompany, Inc.</a>
                      </div>
                      <ul class="social-list">
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-google-plus"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 margn-zero text-center">
                <ul class="pagination">
                  <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="active"><a href="#">1</a>
                  </li>
                  <li class=""><a href="#">2</a>
                  </li>
                  <li><a href="#">3</a>
                  </li>
                  <li><a href="#">4</a>
                  </li>
                  <li><a href="#">5</a>
                  </li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </div>
              <button class="btn btn-white btn-block">Show More</button>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- col-sm-9 -->
    </div>
  </div>
  <script src="../../libs/jquery.js"></script>
  <script src="../../libs/bootstrap.min.js"></script>
  <script>
  $('.nav a').click(function(e) {
    e.preventDefault()
    $(this).tab('show')
  });
  var colorClasses = ["#1CAF9A", "#D9534F", "#428bca", "#1d2939"];
  $('.agendas').children().each(function(index, val) {
    $(val).find('.quote a').css({
      background: colorClasses[index % colorClasses.length]
    });
    console.log(index, val);
  });
  </script>
</body>

</html>
